@using Microsoft.AspNetCore.Identity
@inject NexusConnectCRM.Data.ApplicationDbContext _context
@using System.Linq

@{
    // Tickets \\
    var ticketsNeedingAttention = _context.Help.Where(h => h.CustomerWasRecentResponse &&
                                                          !h.EmployeeWasRecentResponse &&
                                                          !h.IsClosed &&
                                                          !h.IsRejected &&
                                                           h.IsApproved).Count();

    var pendingHelpTicketsCount = _context.Help.Where(h => h.IsPending == true && 
                                                          !h.IsRejected && 
                                                          !h.IsClosed &&
                                                          !h.IsRejected).Count();

    var ticketNotificationCount = ticketsNeedingAttention + pendingHelpTicketsCount;
}
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Employee" asp-action="Index">
    Dashboard
</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Update Profile">
    Profile
</a>
<div class="dropdown dropend">
    <button class="dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3 portal-profile-edit-button" data-bs-toggle="dropdown" aria-expanded="false">
        Help Tickets
        @if (ticketNotificationCount > 0)
        {
            @if (ticketNotificationCount > 99)
            {
                <span class="badge bg-danger rounded-pill">99+</span>
            }
            else
            {
                <span class="badge bg-danger rounded-pill">@ticketNotificationCount</span>
            }
        }
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="@Url.Action("Help", "Employee")">
                All Tickets
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("NewHelp", "Employee")">
                New
                @if (ticketsNeedingAttention > 0)
                {
                    @if (ticketsNeedingAttention > 99)
                    {
                        <span class="badge bg-danger rounded-pill">99+</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">@ticketsNeedingAttention</span>
                    }
                }
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("PendingHelp", "Employee")">
                Pending
                @if (pendingHelpTicketsCount > 0)
                {
                    @if (pendingHelpTicketsCount > 99)
                    {
                        <span class="badge bg-danger rounded-pill">99+</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">@pendingHelpTicketsCount</span>
                    }
                }
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("RejectedHelp", "Employee")">
                Rejected
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("CompletedHelp", "Employee")">
                Completed
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ClosedHelp", "Employee")">
                Closed
            </a>
        </li>
    </ul>
</div>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
    Status
</a>
<form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button type="submit" class="list-group-item list-group-item-action list-group-item-light p-3" style="width: 100%;">Logout</button>
</form>

