@using Microsoft.AspNetCore.Identity
@inject NexusConnectCRM.Data.ApplicationDbContext _context
@using System.Linq

@{
    // var userId = _context.Users.FirstOrDefault(u => u.Email == User.Identity.Name)?.CompanyId;
    // var userCompanyId = _context.Companies.FirstOrDefault(c => c.Id == userId)?.Id;
    var prospectsNeededContact = _context.Prospects.Where(p => p.IsContacted == false &&
                                                          p.Address != null &&
                                                          p.City != null &&
                                                          p.State != null &&
                                                          p.Country != null &&
                                                          p.ZipCode != null).Count();

    var customersNeededContact = _context.Customers.Where(c => c.NeedsContact == true).Count();

    var companiesNeededContact = _context.Companies.Where(c => c.NeedsContact == true).Count();

    var totalNeededContactCount = prospectsNeededContact + customersNeededContact + companiesNeededContact;

    var pendingHelpTicketsCount = _context.Help.Where(h => h.IsPending == true && h.IsRejected == false).Count();
    var uncompletedHelpTicketsCount = _context.Help.Where(h => h.IsCompleted == false && h.IsRejected == false && h.IsPending == false).Count();

    var totalHelpTicketsCount = pendingHelpTicketsCount + uncompletedHelpTicketsCount;
}
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Employee" asp-action="Index">
    Dashboard
</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Update Profile">
    Profile
</a>
<div class="dropdown dropend">
    <button class="dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3 portal-profile-edit-button" data-bs-toggle="dropdown" aria-expanded="false">
        Tasks
        @if (totalNeededContactCount > 0)
        {
            <span class="badge bg-danger rounded-pill">@totalNeededContactCount</span>
        }
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="@Url.Action("ViewProspects", "Employee")">
                Prospects
                @if (prospectsNeededContact > 0)
                {
                    @if (prospectsNeededContact > 99)
                    {
                        <span class="badge bg-danger rounded-pill">99+</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">@prospectsNeededContact</span>
                    }
                }
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ViewCustomers", "Employee")">
                Customers
                @if (customersNeededContact > 0)
                {
                    @if (customersNeededContact > 99)
                    {
                        <span class="badge bg-danger rounded-pill">99+</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">@customersNeededContact</span>
                    }
                }
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ViewCompanies", "Employee")">
                Companies
                @if (companiesNeededContact > 0)
                {
                    @if (companiesNeededContact > 99)
                    {
                        <span class="badge bg-danger rounded-pill">99+</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">@companiesNeededContact</span>
                    }
                }
            </a>
        </li>
    </ul>
</div>
<div class="dropdown dropend">
    <button class="dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3 portal-profile-edit-button" data-bs-toggle="dropdown" aria-expanded="false">
        Help Tickets
        @if (totalHelpTicketsCount > 0)
        {
            @if (totalHelpTicketsCount > 99)
            {
                <span class="badge bg-danger rounded-pill">99+</span>
            }
            else
            {
                <span class="badge bg-danger rounded-pill">@totalHelpTicketsCount</span>
            }
        }
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="@Url.Action("Help", "Employee")">
                All Tickets
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("NotCompletedHelp", "Employee")">
                Incomplete
                @if (uncompletedHelpTicketsCount > 0)
                {
                    @if (uncompletedHelpTicketsCount > 99)
                    {
                        <span class="badge bg-danger rounded-pill">99+</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">@uncompletedHelpTicketsCount</span>
                    }
                }
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("RejectedHelp", "Employee")">
                Rejected
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("CompletedHelp", "Employee")">
                Completed
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ClosedHelp", "Employee")">
                Closed
            </a>
        </li>
        @*<li>
        <a class="dropdown-item" href="@Url.Action("ViewCustomers", "Employee")">
        Customers
        @if (customersNeededContact > 0)
        {
        @if (customersNeededContact > 99)
        {
        <span class="badge bg-danger rounded-pill">99+</span>
        }
        else
        {
        <span class="badge bg-danger rounded-pill">@customersNeededContact</span>
        }
        }
        </a>
        </li>
        <li>
        <a class="dropdown-item" href="@Url.Action("ViewCompanies", "Employee")">
        Companies
        @if (companiesNeededContact > 0)
        {
        @if (companiesNeededContact > 99)
        {
        <span class="badge bg-danger rounded-pill">99+</span>
        }
        else
        {
        <span class="badge bg-danger rounded-pill">@companiesNeededContact</span>
        }
        }
        </a>
        </li>*@
    </ul>
</div>

<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
    Status
</a>
<form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button type="submit" class="list-group-item list-group-item-action list-group-item-light p-3" style="width: 100%;">Logout</button>
</form>

