@using Microsoft.AspNetCore.Identity
@inject NexusConnectCRM.Data.ApplicationDbContext _context
@using System.Linq

@{
    // var userId = _context.Users.FirstOrDefault(u => u.Email == User.Identity.Name)?.CompanyId;
    // var userCompanyId = _context.Companies.FirstOrDefault(c => c.Id == userId)?.Id;
    var prospectsNeededContact = _context.Prospects.Where(p => p.IsContacted == false &&
                                                          p.Address != null &&
                                                          p.City != null &&
                                                          p.State != null &&
                                                          p.Country != null &&
                                                          p.ZipCode != null);

    int prospectsNeededContactCount = prospectsNeededContact.Count();
}

<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Home" asp-action="Index">
    Home
</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Employee" asp-action="Index">
    Dashboard
</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Update Profile">
    Profile
</a>
<div class="dropdown dropend">
    <button class="dropdown-toggle list-group-item list-group-item-action list-group-item-light p-3 portal-profile-edit-button" data-bs-toggle="dropdown" aria-expanded="false">
        Users
    </button>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="@Url.Action("ViewProspects", "Employee")">
                Prospects
                @if (prospectsNeededContactCount > 0)
                {
                    @if (prospectsNeededContactCount > 99)
                    {
                        <span class="badge bg-danger rounded-pill">99+</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">@prospectsNeededContactCount</span>
                    }
                }
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ViewCustomers", "Employee")">
                Customers
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="@Url.Action("ViewCompanies", "Employee")">
                Companies
            </a>
        </li>
    </ul>
</div>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
    Status
</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
    Help
</a>
<form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <button type="submit" class="list-group-item list-group-item-action list-group-item-light p-3" style="width: 100%;">Logout</button>
</form>

