@model NexusConnectCRM.Areas.Employee.ViewModels.HelpEditViewModel
@inject NexusConnectCRM.Data.ApplicationDbContext _context

@{
    ViewBag.Title = "View Ticket";
    Layout = "~/Views/Shared/_EmployeePortalLayout.cshtml";

    var fullName = _context.Users.Where(u => u.Id == Model.Help.Author).Select(u => u.FirstName + " " + u.LastName).FirstOrDefault();
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Ticket Details</h1>
            <hr />
            @using (Html.BeginForm("SubmitHelpResponse", "Employee", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="form-horizontal">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Title">Name</label>
                                    <div class="col-md-10">
                                        @fullName
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Created
                                    </label>
                                    <div class="col-md-10">
                                        @Model.Help.CreatedDate
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label col-md-2">
                                        Updated
                                    </label>
                                    <div class="col-md-10">
                                        @Model.Help.ModifiedDate
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12" style="margin: 0 auto;">
                                    <div class="form-group mb-20">
                                        <label class="control-label col-md-2" for="Title">Title</label>
                                        <div class="col-md-10">
                                            @Model.Help.Title
                                        </div>
                                    </div>
                                    <div class="form-group mb-20">
                                        <label class="control-label col-md-2" for="Title">Description</label>
                                        <div class="col-md-10">
                                            @Model.Help.Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card scrollbar-primary">
                                @if (Model.HelpResponses.Count() > 0)
                                {
                                    <div class="card-body scrollbar" id="chatlogs">

                                        @foreach (var message in Model.HelpResponses)
                                        {
                                            <p style="color:black;font-size:19px;" class="text-left pr-5 mb-0">
                                                <strong style="white-space: pre-wrap">@message.Response</strong>
                                            </p>
                                            <br />
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body scrollbar" id="chatlogs">
                                        <p style="color:black;font-size:19px;" class="text-left pr-5 mb-0">
                                            <strong style="white-space: pre-wrap">No responses yet.</strong>
                                        </p>
                                        <br />
                                    </div>
                                }
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            @Html.TextAreaFor(m => m.Response, new { @class = "form-control", @rows = "10" })
                                            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#AttachFile"></button>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input id="submitButton" type="submit" value="Save" class="btn btn-primary">
                                                    <a class="btn btn-secondary" href="@Url.Action("Help", "Employee", new { id = Model.Help.Id })">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
