@model NexusConnectCRM.ViewModels.HelpInfoData.HelpInfoEditViewModel
@inject NexusConnectCRM.Data.ApplicationDbContext _context

@{
    ViewBag.Title = "View Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var fullName = _context.Users.Where(u => u.Id == Model.Help.Author).Select(u => u.FirstName + " " + u.LastName).FirstOrDefault();
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Ticket Details</h1>
            <hr />
            @using (Html.BeginForm("SubmitHelpResponse", "HelpInfo", FormMethod.Post, new { @id = "helpResponseForm", @enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="form-horizontal">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold" for="Title">Name:</label>
                                    <div class="col">
                                        @fullName
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold" for="Title">Title:</label>
                                    <div class="col">
                                        @Model.Help.Title
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold">
                                        Created:
                                    </label>
                                    <div class="col">
                                        @Model.Help.CreatedDate
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold">
                                        Updated:
                                    </label>
                                    <div class="col">
                                        @Model.Help.ModifiedDate
                                    </div>
                                </div>
                            </div>
                            @if (Model.Help.ImageName != null)
                            {
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label class="control-label col-md-2 fw-bold">
                                            Image
                                        </label>
                                        <div class="col">
                                            <img decoding="async" src="@("~/images/help/" + Model.Help.ImageName)" asp-append-version="true" class="img-fluid" alt="@Model.Help.ImageName" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="control-label col-md-2 fw-bold" for="Description">Description:</label>
                                    <div class="col">
                                        <p class="text-justify">
                                            @Model.Help.Description
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card scrollbar-primary">
                                @if (Model.HelpResponses.Count() > 0)
                                {
                                    <div class="card-body scrollbar" id="chatlogs" style="padding-left: 20px; padding-right: 20px">

                                        @foreach (var message in Model.HelpResponses)
                                        {
                                            if (message.IsEmployee)
                                            {
                                                <div class="justify-content-end" style="text-align: right;">
                                                    <p style="color:black; font-size:16px;" class="pr-5 mb-0">
                                                        <strong style="white-space: pre-wrap;">@message.Response</strong>
                                                    </p>
                                                    <br />
                                                    @if (message.ImageName != null)
                                                    {
                                                        <img decoding="async" src="@("~/images/help/responses/" + message.ImageName)" asp-append-version="true" class="img-fluid" alt="@message.ImageName" width="250px" height="250px" />
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <p style="color:black; font-size:16px;" class="pl-5 mb-0">
                                                    <strong style="white-space: pre-wrap;">@message.Response</strong>
                                                </p>
                                                <br />
                                                @if (message.ImageName != null)
                                                {
                                                    <img decoding="async" src="@("~/images/help/responses/" + message.ImageName)" asp-append-version="true" class="img-fluid" alt="@message.ImageName" width="250px" height="250px" />
                                                }
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body scrollbar" id="chatlogs">
                                        <p style="color:black;font-size:19px;" class="text-center pr-5 mb-0">
                                            <strong>No responses yet.</strong>
                                        </p>
                                        <br />
                                    </div>
                                }
                                @if (Model.Help.IsApproved && !Model.Help.IsCompleted)
                                {
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                @Html.TextAreaFor(m => m.Response, new { @class = "form-control", @rows = "10", id = "ResponseText", @placeholder =  "Response" })
                                                @Html.TextBoxFor(m => m.Image, new { @type = "file", @class = "form-control mt-2 mb-2", @id = "ImageFile" })
                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input id="submitButton" type="submit" value="Save" class="btn btn-primary">
                                                        <a class="btn btn-secondary" href="@Url.Action("Index", "HelpInfo")">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (Model.Help.IsCompleted && !Model.Help.IsRejected)
                                {
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center">
                                                    <strong>
                                                        This ticket has been completed.
                                                    </strong>
                                                </p>
                                                <a class="btn btn-secondary mb-3" href="@Url.Action("Index", "HelpInfo")">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (Model.Help.IsRejected)
                                {
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center">
                                                    <strong>
                                                        This ticket has been rejected.
                                                    </strong>
                                                </p>
                                                <a class="btn btn-secondary mb-3" href="@Url.Action("Index", "HelpInfo")">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text-center">
                                                    <strong>
                                                        This ticket has not yet been approved.
                                                    </strong>
                                                </p>
                                                <a class="btn btn-secondary mb-3" href="@Url.Action("Index", "HelpInfo")">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    const responseText = document.getElementById("ResponseText");
    const helpResponseForm = document.getElementById("helpResponseForm");
    const submitButton = document.getElementById("submitButton");

    helpResponseForm.addEventListener("submit", function (event) {
        if (responseText.value === "") {
            event.preventDefault();
            alert("Please enter a response.");
            submitButton.disabled = false;
            submitButton.innerHTML = "Save";
            submitButton.style.cursor = 'default';
        }
        else {
            submitButton.disabled = true;
            submitButton.innerHTML = "<i class='fa fa-spinner fa-spin'></i> Saving...";
            submitButton.style.cursor = 'no-drop';
        }
    });
</script>