@inject NexusConnectCRM.Data.ApplicationDbContext _context
@inject UserManager<NexusConnectCRM.Data.Models.Identity.ApplicationUser> _userManager
@using System.Linq
@using Microsoft.AspNetCore.Identity

@{
    // Tickets \\
    int ticketsNeedingAttention = _context.Help.Where(h => h.CustomerWasRecentResponse &&
                                                          !h.EmployeeWasRecentResponse &&
                                                          !h.IsCompleted &&
                                                          !h.IsRejected &&
                                                           h.IsApproved).Count();

    int pendingHelpTicketsCount = _context.Help.Where(h => h.IsPending == true &&
                                                          !h.IsRejected &&
                                                          !h.IsCompleted &&
                                                          !h.IsRejected).Count();

    int ticketNotificationCount = ticketsNeedingAttention + pendingHelpTicketsCount;

    string firstName = _context.Users.Where(x => x.Id == _userManager.GetUserId(User))
                                     .Select(x => x.FirstName)
                                     .FirstOrDefault();
}

<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top" id="sidebar" data-aos="fade-right" data-aos-delay="100" style="font-size: 14px !important;">
    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
            <li class="nav-link">
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-home"></i><span class="spacer d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                @if (User.IsInRole("Employee") || User.IsInRole("Help Desk"))
                {
                    <a href="@Url.Action("Index", "Index", new { area = "Employee" })" class="nav-link px-sm-0 px-2">
                        <i class="fa fa-dashboard"></i>
                        <span class="spacer d-none d-sm-inline">Dashboard</span>
                    </a>
                }
                else if (User.IsInRole("Admin") || User.IsInRole("HeadAdmin"))
                {
                    <a href="@Url.Action("Index", "Index", new { area = "Admin" })" class="nav-link px-sm-0 px-2">
                        <i class="fa fa-dashboard"></i>
                        <span class="spacer d-none d-sm-inline">Dashboard</span>
                    </a>
                }
            </li>
            <li>
                <a href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-ticket"></i>
                    <span class="spacer d-none d-sm-inline">Tickets</span>
                    @if (ticketNotificationCount > 0)
                    {
                        @if (ticketNotificationCount > 99)
                        {
                            <i class="badge bg-danger rounded-pill" style="color: white; font-size: 12px !important; font-style:normal;">99+</i>
                        }
                        else
                        {
                            <i class="badge bg-danger rounded-pill" style="color: white; font-size: 12px !important; font-style:normal;">@ticketNotificationCount</i>
                        }
                    }
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("Index", "Help", new { area = "Employee" })">
                            <span class="spacer d-none d-sm-inline">All Tickets</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("NewHelp", "Help", new { area = "Employee" })">
                            <span class="spacer d-none d-sm-inline">New</span>
                            @if (ticketsNeedingAttention > 0)
                            {
                                @if (ticketsNeedingAttention > 99)
                                {
                                    <span class="badge bg-danger rounded-pill" style="color: white; font-size: 12px !important;">99+</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger rounded-pill" style="color: white; font-size: 12px !important;">@ticketsNeedingAttention</span>
                                }
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("PendingHelp", "Help", new { area = "Employee" })">
                            <span class="spacer d-none d-sm-inline">Pending</span>
                            @if (pendingHelpTicketsCount > 0)
                            {
                                @if (pendingHelpTicketsCount > 99)
                                {
                                    <span class="badge bg-danger rounded-pill" style="color: white; font-size: 12px !important;">99+</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger rounded-pill" style="color: white; font-size: 12px !important;">@pendingHelpTicketsCount</span>
                                }
                            }
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("RejectedHelp", "Help", new { area = "Employee" })">
                            <span class="spacer d-none d-sm-inline">Rejected</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("CompletedHelp", "Help", new { area = "Employee" })">
                            <span class="spacer d-none d-sm-inline">Completed</span>
                        </a>
                    </li>
                </ul>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("HeadAdmin"))
            {
                <li>
                    <a href="#homeUsersSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link px-sm-0 px-2">
                        <i class="fa fa-users"></i>
                        <span class="spacer d-none d-sm-inline">Users</span>
                    </a>
                </li>
                <ul class="collapse list-unstyled" id="homeUsersSubmenu">
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("ViewUsers", "Index", new { area = "Admin" })">
                            <i class="fa fa-user"></i>
                            All Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("ViewProspects", "Index", new { area = "Admin" })">
                            <i class="fa fa-user"></i>
                            Prospects
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("ViewCustomers", "Index", new { area = "Admin" })">
                            <i class="fa fa-user"></i>
                            Customers
                        </a>
                    </li>
                </ul>
                <li>
                    <a class="nav-link px-sm-0 px-2" href="@Url.Action("ViewCompanies", "Index", new { area = "Admin" })">
                        <i class="fa fa-building"></i><span class="spacer d-none d-sm-inline">Companies</span>
                    </a>
                </li>
            }
        </ul>
        @await Html.PartialAsync("_PortalAccountOptions")
        @await Html.PartialAsync("_FooterPortal")
    </div>
</div>
