@model NexusConnectCRM.Areas.Prospect.ViewModels.ProspectIndexViewModel
@{
    ViewData["Title"] = "Portal";
    Layout = "~/Areas/Prospect/Views/Shared/_ProspectPortalLayout.cshtml";
}

<div class="container mt-5" data-aos="fade-up" data-aos-delay="200">
    <div class="row">
        <div class="col-md-6">
            <div class="card prospect-info-card">
                <i class="fa fa-solid fa-user mt-3" style="font-size: 24px;"></i>
                <h1 class="text-center" data-aos="fade-right">@Model.FirstName @Model.LastName</h1>
                <span class="text-muted text-center" data-aos="fade-right">@Model.UserRole</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                            <p class="text-center" data-aos="fade-right">@Model.Address</p>
                            <p class="text-center" data-aos="fade-right">@Model.City, @Model.State @Model.ZipCode</p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center" data-aos="fade-left">Contact</h4>
                            <p class="text-center" data-aos="fade-left"><i class="fa fa-solid fa-phone"></i> @Model.PhoneNumber</p>
                            <p class="text-center" data-aos="fade-left"><i class="fa fa-solid fa-envelope"></i> @Model.EmailAddress</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card prospect-info-card">
                <i class="fa fa-solid fa-building mt-3" style="font-size: 24px;"></i>
                <h1 class="text-center" data-aos="fade-left">Company</h1>
                <span class="text-muted text-center" data-aos="fade-left">@Model.CompanyName</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                            <p class="text-center" data-aos="fade-left">@Model.CompanyAddress</p>
                            <p class="text-center" data-aos="fade-left">@Model.CompanyCity, @Model.CompanyState @Model.CompanyZipCode</p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center" data-aos="fade-right">Contact</h4>
                            <p class="text-center" data-aos="fade-right"><i class="fa fa-solid fa-phone"></i> @Model.CompanyPhoneNumber</p>
                            <p class="text-center" data-aos="fade-right"><i class="fa fa-solid fa-envelope"></i> @Model.CompanyEmailAddress</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
