@model NexusConnectCRM.Areas.Prospect.ViewModels.ProspectIndexViewModel
@{
    ViewData["Title"] = "Portal";
    Layout = "~/Areas/Prospect/Views/Shared/_ProspectPortalLayout.cshtml";
}

@if (Model.Address == null ||
     Model.Country == null ||
     Model.City == null ||
     Model.State == null ||
     Model.ZipCode == null ||
     Model.PhoneNumber == null)
{
    @await Html.PartialAsync("~/Areas/Prospect/Views/Shared/_PromptUserDetails.cshtml")
}
else
{
    <div class="container mt-5" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">Thank you for registering with NexusConnect! An associate will be in contact with you shortly and help you get started on the next steps.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            @if (ViewBag.HelpSubmitted == true)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="text-center">
                        Your help request has been submitted. An associate will be in contact with you shortly.
                        <br />
                        <br />
                        In the meantime, please feel free to browse your resources.
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="col-md-6">
                <div class="card prospect-info-card">
                    <i class="fa fa-solid fa-user mt-3" style="font-size: 24px;"></i>
                    <h1 class="text-center">@Model.FirstName @Model.LastName</h1>
                    <span class="text-muted text-center">@Model.UserRole</span>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                                <p class="text-center">@Model.Address</p>
                                <p class="text-center">@Model.City, @Model.State @Model.ZipCode</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">Contact</h4>
                                <p class="text-center"><i class="fa fa-solid fa-phone"></i> @Model.PhoneNumber</p>
                                <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @Model.EmailAddress</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card prospect-info-card">
                    <i class="fa fa-solid fa-building mt-3" style="font-size: 24px;"></i>
                    <h1 class="text-center">Company</h1>
                    <span class="text-muted text-center">@Model.CompanyName</span>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                                <p class="text-center">@Model.CompanyAddress</p>
                                <p class="text-center">@Model.CompanyCity, @Model.CompanyState @Model.CompanyZipCode</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">Contact</h4>
                                <p class="text-center"><i class="fa fa-solid fa-phone"></i> @Model.CompanyPhoneNumber</p>
                                <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @Model.CompanyEmailAddress</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
