@model NexusConnectCRM.Areas.Prospect.ViewModels.ProspectIndexViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using NexusConnectCRM.Data.Models.Company
@inject NexusConnectCRM.Data.ApplicationDbContext _context
@using System.Linq
@{
    ViewData["Title"] = "Prospect";
    Layout = "~/Areas/Prospect/Views/Shared/_ProspectPortalLayout.cshtml";

    var userCompanyId = Model.User?.CompanyId;
    var userCompany = _context.Companies?.FirstOrDefault(c => c.Id == userCompanyId);
    var userRole = _context.Users.Where(u => u.Id == Model.User.UserId).Select(u => u.Roles).FirstOrDefault();

    @*TODO: This is not working*@
    if (HttpContextAccessor.HttpContext?.Request?.Query["HelpSubmitted"].FirstOrDefault() != null)
    {
        ViewBag.HelpSubmitted = true;
    }
}

@if (Model.User?.Address == null ||
    Model.User.Country == null ||
    Model.User.City == null ||
    Model.User.State == null ||
    Model.User.ZipCode == null ||
    Model.User.PhoneNumber == null)
{
    @await Html.PartialAsync("~/Areas/Prospect/Views/Shared/_PromptUserDetails.cshtml")
}
else
{
    <div class="container mt-5">
        <div class="row">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">Thank you for registering with NexusConnect! An associate will be in contact with you shortly and help you get started on the next steps.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            @if (ViewBag.HelpSubmitted == true)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="text-center">
                        Your help request has been submitted. An associate will be in contact with you shortly.
                        <br />
                        <br />
                        In the meantime, please feel free to browse your resources.
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="col-md-6">
                <div class="card prospect-info-card">
                    <i class="fa fa-solid fa-user mt-3" style="font-size: 24px;"></i>
                    <h1 class="text-center">@Model.User.FirstName @Model.User.LastName</h1>
                    <span class="text-muted text-center">@userRole</span>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                                <p class="text-center">@Model.User.Address</p>
                                <p class="text-center">@Model.User.City, @Model.User.State @Model.User.ZipCode</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">Contact</h4>
                                <p class="text-center"><i class="fa fa-solid fa-phone"></i> @Model.User.PhoneNumber</p>
                                <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @Model.User.EmailAddress</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card prospect-info-card">
                    <i class="fa fa-solid fa-building mt-3" style="font-size: 24px;"></i>
                    <h1 class="text-center">Company</h1>
                    <span class="text-muted text-center">@userCompany.Name</span>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                                <p class="text-center">@userCompany?.Address</p>
                                <p class="text-center">@userCompany?.City, @userCompany?.State @userCompany?.Zip</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">Contact</h4>
                                <p class="text-center"><i class="fa fa-solid fa-phone"></i> @userCompany?.Phone</p>
                                <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @userCompany?.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
