@model NexusConnectCRM.Areas.Employee.ViewModels.HelpEditViewModel
@inject NexusConnectCRM.Data.ApplicationDbContext _context

@{
    ViewBag.Title = "View Ticket";
    Layout = "~/Areas/Employee/Views/Shared/_EmployeePortalLayout.cshtml";

    var fullName = _context.Users.Where(u => u.Id == Model.Help.Author).Select(u => u.FirstName + " " + u.LastName).FirstOrDefault();
}

<div class="container mt-3">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Ticket Details</h1>
            <hr />
            @using (Html.BeginForm("SubmitHelpResponse", "Help", FormMethod.Post, new { @id = "helpResponseForm", @enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="form-horizontal">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold" for="Title">Author:</label>
                                    <div class="col">
                                        @fullName
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold" for="Title">Title:</label>
                                    <div class="col">
                                        @Model.Help.Title
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold">
                                        Created:
                                    </label>
                                    <div class="col">
                                        @Model.Help.CreatedDate
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group text-center">
                                    <label class="control-label col-md-2 fw-bold">
                                        Updated:
                                    </label>
                                    <div class="col">
                                        @Model.Help.ModifiedDate
                                    </div>
                                </div>
                            </div>
                            @if (Model.Help.ImageName != null)
                            {
                                <div class="col">
                                    <div class="form-group text-center">
                                        <label class="control-label col-md-2 fw-bold">
                                            Image
                                        </label>
                                        <div class="col">
                                            <img decoding="async" src="@Url.Content("~/images/help/" + Model.Help.ImageName)" asp-append-version="true" class="img-fluid" alt="@Model.Help.ImageName" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group text-start">
                                    <label class="control-label col-md-2 fw-bold" for="Description">Description:</label>
                                    <div class="col mb-2">
                                        @Model.Help.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card scrollbar-primary">
                                @if (Model.HelpResponses.Count() > 0)
                                {
                                    <div class="card-body scrollbar" id="chatlogs">

                                        @foreach (var message in Model.HelpResponses)
                                        {
                                            if (message.IsEmployee)
                                            {
                                                <div class="help-chat-log" style="text-align: left;">
                                                    <p style="color:black; font-size:16px;" class="pr-5 mb-0">
                                                        <strong style="white-space: pre-wrap;">@message.Response</strong>
                                                    </p>
                                                    @if (message.ImageName != null)
                                                    {
                                                        <img decoding="async" src="@Url.Content("~/images/help/responses/" + message.ImageName)" asp-append-version="true" class="img-fluid" alt="@message.ImageName" width="250" height="250" />
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="justify-content-end help-chat-log" style="text-align: right;">
                                                    <p style="color:black; font-size:16px;" class="pr-5 mb-0">
                                                        <strong style="white-space: pre-wrap;">@message.Response</strong>
                                                    </p>
                                                    @if (message.ImageName != null)
                                                    {
                                                        <img decoding="async" src="@Url.Content("~/images/help/responses/" + message.ImageName)" asp-append-version="true" class="img-fluid" alt="@message.ImageName" width="250" height="250" />
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body scrollbar" id="chatlogs">
                                        <p style="color:black;font-size:19px;" class="text-left pr-5 mb-0">
                                            <strong style="white-space: pre-wrap">No responses yet.</strong>
                                        </p>
                                        <br />
                                    </div>
                                }
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            @Html.TextAreaFor(m => m.Response, new { @class = "form-control", @rows = "10", id = "ResponseText", @placeholder =  "Response" })
                                            @Html.TextBoxFor(m => m.Image, new { @type = "file", @class = "form-control mt-2 mb-2", @id = "ImageFile" })
                                            <div class="form-group">
                                                <div class="row">
                                                    @if (Model.Help.IsPending)
                                                    {
                                                        <div class="col" style="margin: 0;">
                                                            <p style="color: red;">
                                                                <strong>
                                                                    This ticket is pending approval.
                                                                </strong>
                                                            </p>
                                                            <a href="@Url.Action("Help", "Help", new { area = "Employee" })" class="btn btn-secondary mb-2">Back</a>
                                                        </div>
                                                        <div class="col" style="margin: 0;">
                                                            <button type="button" class="btn btn-dark" style="float: right; width: auto;" data-bs-toggle="modal" data-bs-target="#TicketOptionsModal">
                                                                Options
                                                            </button>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col mb-2" style="margin: 0;">
                                                            <input id="submitButton" type="submit" value="Save" class="btn btn-primary">
                                                            <a class="btn btn-secondary" href="@Url.Action("Index", "Help", new { area = "Employee" })">Cancel</a>
                                                            <button type="button" class="btn btn-dark" style="float: right; width: auto;" data-bs-toggle="modal" data-bs-target="#TicketOptionsModal">
                                                                Options
                                                            </button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Ticket Options Modal -->
<div class="modal fade" id="TicketOptionsModal" tabindex="-1" role="dialog" aria-labelledby="TicketOptionsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TicketOptionsLabel">Ticket Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                @if (!Model.Help.IsApproved)
                {
                    <a href="@Url.Action("HelpApprove", "Help", new { area = "Employee", id = Model.Help.Id })" class="btn btn-primary me-1">Approve</a>
                }
                @if (!Model.Help.IsCompleted)
                {
                    <a href="@Url.Action("HelpCompleted", "Help", new { area = "Employee", id = Model.Help.Id })" class="btn btn-success">Complete</a>
                }
                @if (!Model.Help.IsRejected)
                {
                    <a href="@Url.Action("HelpReject", "Help", new { area = "Employee", id = Model.Help.Id })" class="btn btn-danger me-1">Reject</a>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width: auto;">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    const responseText = document.getElementById("ResponseText");
    const helpResponseForm = document.getElementById("helpResponseForm");
    let submitButton = document.getElementById("submitButton");

    helpResponseForm.addEventListener("submit", function (event) {
        if (responseText.value === "") {
            event.preventDefault();
            alert("Please enter a response.");
            submitButton.disabled = false;
            submitButton.innerHTML = "Save";
            submitButton.style.cursor = 'default';
        }
        else {
            submitButton.disabled = true;
            submitButton.style.cursor = 'no-drop';
        }
    });
</script>