@model NexusConnectCRM.Areas.Prospect.ViewModels.ProspectIndexViewModel
@{
    ViewData["Title"] = "Portal";
    Layout = "~/Areas/Prospect/Views/Shared/_ProspectPortalLayout.cshtml";
}

<section class="account-details" id="account-details">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 small-info-card">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">
                                    Tasks
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">100%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                 style="width: 100%" aria-valuenow="50" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 small-info-card">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">
                                    Pending Requests
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 small-info-card">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">
                                    Pending Orders
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-file-invoice-dollar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 small-info-card">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">
                                    Pending Invoices
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-file-lines fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-center">Account Details</h6>
                    </div>
                    <div class="card-body text-center account-info">
                        <i class="fa fa-solid fa-user mt-3" style="font-size: 24px;"></i>
                        <h1 class="text-center">@Model.FirstName @Model.LastName</h1>
                        <span class="text-muted text-center">@Model.UserRole</span>
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                                <p class="text-center">@Model.Address</p>
                                <p class="text-center">@Model.City, @Model.State @Model.ZipCode</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">Contact</h4>
                                <p class="text-center"><i class="fa fa-solid fa-phone"></i> @Model.PhoneNumber</p>
                                <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @Model.EmailAddress</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-center">Company Details</h6>
                    </div>
                    <div class="card-body text-center company-info">
                        <i class="fa fa-solid fa-building mt-3" style="font-size: 24px;"></i>
                        <h1 class="text-center">@Model.CompanyName</h1>
                        <span class="text-muted text-center">Company</span>

                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                                <p class="text-center">@Model.CompanyAddress</p>
                                <p class="text-center">@Model.CompanyCity, @Model.CompanyState @Model.CompanyZipCode</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">Contact</h4>
                                <p class="text-center"><i class="fa fa-solid fa-phone"></i> @Model.CompanyPhoneNumber</p>
                                <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @Model.CompanyEmailAddress</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
