@model NexusConnectCRM.Areas.Admin.ViewModels.AdminListCompaniesViewModel

@{
    ViewData["Title"] = "View Companies";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPortalLayout.cshtml";
}

<div class="container mt-3 mb-3">
    <h2 class="text-center">
        Companies
    </h2>
    <div class="row">
        <div class="col text-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Postal Code</th>
                        <th scope="col">Country</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Website</th>
                        <th scope="col">Industry</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var company in Model.Companies)
                    {
                        <tr>
                            <td>@company.Name</td>
                            <td>@company.Address</td>
                            <td>@company.City</td>
                            <td>@company.State</td>
                            <td>@company.Zip</td>
                            <td>@company.Country</td>
                            <td>@company.Email</td>
                            <td>@company.Phone</td>
                            <td>@company.Website</td>
                            <td>@company.Industry</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a href="@Url.Action("Index", "Index")" class="cancel-btn">Back</a>
</div>
