<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top" id="sidebar" data-aos="fade-right" data-aos-delay="100" style="font-size: 14px;">
    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-home"></i><span class="spacer d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Index", new { area = "Admin" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-dashboard"></i><span class="spacer d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Help", new { area = "Employee" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-ticket"></i><span class="spacer d-none d-sm-inline">Help Area</span>
                </a>
            </li>
            <li>
                <a class="nav-link px-sm-0 px-2" href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="spacer d-none d-sm-inline">Users</span>

                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("ViewUsers", "Index", new { area = "Admin" })">
                            <i class="fa fa-user"></i><span class="spacer d-none d-sm-inline">All Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("ViewProspects", "Index", new { area = "Admin" })">
                            <i class="fa fa-user"></i><span class="spacer d-none d-sm-inline">Prospects</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" href="@Url.Action("ViewCustomers", "Index", new { area = "Admin" })">
                            <i class="fa fa-user"></i><span class="spacer d-none d-sm-inline">Customers</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("ViewCompanies", "Index", new { area = "Admin" })" class=" nav-link px-sm-0 px-2">
                    <i class="fa fa-building"></i><span class="spacer d-none d-sm-inline">Companies</span>
                </a>
            </li>
        </ul>
        @await Html.PartialAsync("_PortalAccountOptions")
        @await Html.PartialAsync("_FooterPortal")
    </div>
</div>