@model NexusConnectCRM.Areas.Customer.ViewModels.CustomerIndexViewModel
@inject NexusConnectCRM.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Customer Portal";
    Layout = "~/Views/Shared/_CustomerPortalLayout.cshtml";

    var userCompanyId = Model.User?.CompanyId;
    var userCompany = _context.Companies?.FirstOrDefault(c => c.Id == userCompanyId);
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card prospect-info-card">
                <i class="fa fa-solid fa-user mt-3" style="font-size: 24px;"></i>
                <h1 class="text-center">@Model.User.FirstName @Model.User.LastName</h1>
                <span class="text-muted text-center">@Model.User.Roles</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                            <p class="text-center">@Model.User.Address</p>
                            <p class="text-center">@Model.User.City, @Model.User.State @Model.User.ZipCode</p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center">Contact</h4>
                            <p class="text-center"><i class="fa fa-solid fa-phone"></i> @Model.User.PhoneNumber</p>
                            <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @Model.User.Email</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card prospect-info-card">
                <i class="fa fa-solid fa-building mt-3" style="font-size: 24px;"></i>
                <h1 class="text-center">@userCompany.Name</h1>
                <span class="text-muted text-center">Company</span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="text-center"><i class="fa fa-solid fa-map-marker" style="font-size: 16px;"></i> Address</h4>
                            <p class="text-center">@userCompany?.Address</p>
                            <p class="text-center">@userCompany?.City, @userCompany?.State @userCompany?.Zip</p>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-center">Contact</h4>
                            <p class="text-center"><i class="fa fa-solid fa-phone"></i> @userCompany?.Phone</p>
                            <p class="text-center"><i class="fa fa-solid fa-envelope"></i> @userCompany?.Email</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Contacts</h5>
                    <p class="card-text">245</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Active Deals</h5>
                    <p class="card-text">12</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Revenue</h5>
                    <p class="card-text">$34,500</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sales Pipeline</h5>
                    <canvas id="salesChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tasks</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Follow up with Client A</li>
                        <li class="list-group-item">Prepare Proposal for Deal B</li>
                        <li class="list-group-item">Meeting with Team</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
