@inject NexusConnectCRM.Data.ApplicationDbContext _context
@inject UserManager<NexusConnectCRM.Data.Models.Identity.ApplicationUser> _userManager
@using System.Linq
@using Microsoft.AspNetCore.Identity

@{
    int unreadTickets = _context.Help.Where(x => x.Author == _userManager.GetUserId(User) &&
                                                 x.EmployeeWasRecentResponse == true)
                                                 .Count();
    string firstName = _context.Users.Where(x => x.Id == _userManager.GetUserId(User))
                                     .Select(x => x.FirstName)
                                     .FirstOrDefault();
}

<div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex sticky-top" id="sidebar" data-aos="fade-right" data-aos-delay="100">
    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-home"></i><span class="spacer d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Index", new { area = "Prospect" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-dashboard"></i><span class="spacer d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "HelpInfo", new { area = "" })" class="nav-link px-sm-0 px-2">
                    <i class="fa fa-ticket"></i><span class="spacer d-none d-sm-inline">Help</span>
                    @if (unreadTickets > 99)
                    {
                        <span class="badge bg-danger rounded-pill" style="color: white; font-size: 12px;">99+</span>
                    }
                    else if (unreadTickets > 0)
                    {
                        <span class="badge bg-danger rounded-pill" style="color: white; font-size: 12px;">@unreadTickets</span>
                    }
                </a>
            </li>
        </ul>
        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="~/images/Account/no_user_pic.jpg" alt="user" width="28" height="28" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1 ms-2" style="font-size: 16px;">@firstName</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li>
                    <a class="dropdown-item" href="@Url.Action("Manage", "Account", new { area = "Identity" })">
                        <i class="fa fa-cog"></i><span class="ms-2 d-sm-inline">Settings</span>
                    </a>
                </li>
                @await Html.PartialAsync("_PortalLoginPartial")
            </ul>
        </div>
    </div>
</div>